$hoverBreak: 1200px;
$hoverBreakMobile: 600px;

.element {
    position: relative;
    margin-bottom: 35px;
    padding: 30px;
    min-height: 30vh;
    max-height: 40vh;
    flex-basis: 26%;
    transition: 1s;
    border-radius: 4px;
    transition: 1s;
    background-color: transparent;
    border: #303133 solid 2px;

    @media (max-width: $hoverBreak) {
        flex-basis: 40%;
        min-height: 30vh;
    }

    @media (max-width: $hoverBreakMobile) {
        flex-basis: 80%;
        height: 40vh;
    }

    @media (max-width: 1919px) {
        min-height: 30vh;
    }

    &__title-h3 {
        font-family: 'Ubuntu';
        text-align: center;
        margin-top: 20px;

        @media (max-width: $hoverBreak) {
            font-size: 25px;
        }

        @media (max-width: $hoverBreakMobile) {
            font-size: 20px;
        }
    }

    &__link {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translateX(-50%);
        text-decoration: none;
        color: white;
        background-color: #222222;
        border: #303133 solid 2px;
        padding: 10px 25px;
        border-radius: 4px;
        font-family: 'Ubuntu';
        letter-spacing: 1px;
        font-weight: 700;
        z-index: 999;
        font-size: 18px;

        @media (min-width: $hoverBreak) {
            transition: 1s;
            &:hover {
                background-color: #ff3d4f;
            }
        }

        &:active {
            background-color: #ff3d4f;
        }
    }

    &__img {
        text-align: center;

        i {
            font-size: 100px;
        }
    }
}
