.mobile-menu {
    position: fixed;
    left: 0;
    top: -50%;
    width: 100vw;
    height: 45vh;
    background-color: #1d1e20;
    z-index: 999999;
    text-align: center;
    border-bottom: #303133 solid 2px;
    transition: 1s;
    &--hide {
        top: 0;
    }
}
