@import '../../variables.scss';

.element {
    position: relative;
    margin-bottom: 35px;
    padding: 30px;
    height: 30vh;
    flex-basis: 23%;
    transition: 1s;
    border-radius: 4px;
    transition: 1s;
    background-color: $btn-color;

    @media (max-width: $small) {
        flex-basis: 90%;
        height: 4vh;
        display: flex;
        height: 10vh;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        gap: 5px;
    }

    @media (min-width: 1919px) {
        min-height: 30vh;
    }

    &__title-h3 {
        font-family: 'Ubuntu';
        text-align: center;
        margin-top: 20px;

        @media (max-width: $small) {
            font-size: 15px;
            margin-top: 0;
        }
    }

    &__link {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translateX(-50%);
        text-decoration: none;
        color: white;
        background-color: $background-color;
        padding: 10px 25px;
        border-radius: 4px;
        font-family: 'Ubuntu';
        letter-spacing: 1px;
        font-weight: 700;
        z-index: 999;
        font-size: 18px;

        @media (min-width: $hoverBreak) {
            transition: 1s;
            &:hover {
                background-color: #ff3d4f;
            }
        }

        &:active {
            background-color: #ff3d4f;
        }

        @media (max-width: $small) {
            font-size: 15px;
            position: static;
            transform: translateX(0);
            order: 2;
        }
    }

    &__img {
        text-align: center;

        i {
            font-size: 100px;

            @media (max-width: $small) {
                font-size: 30px;
            }
        }
    }
}
