@import '../../variables.scss';

.contact {
    min-height: 90vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;

    @media (max-width: $hoverBreakMobile) {
        width: 80%;
        padding-top: 12%;
    }

    &__title-h2 {
        display: inline-block;
        position: relative;
        padding-top: 30px;
        color: #9da19d;
        font-family: 'Ubuntu';
        font-size: 50px;

        span {
            display: block;
            position: absolute;
            background-color: #ff3d4f;
            width: 80px;
            height: 7px;
            right: -1%;
            border-radius: 10px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
        width: 100%;

        @media (max-width: $hoverBreak) {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        @media (max-width: $hoverBreakMobile) {
            width: 100%;
        }
    }

    &__form {
        flex-basis: 55%;

        @media (max-width: $hoverBreak) {
            flex-basis: 80%;
        }

        @media (max-width: $hoverBreakMobile) {
            flex-basis: 100%;
        }
    }

    &__text-container {
        margin-bottom: 5%;
        color: #9da19d;

        @media (max-width: $hoverBreakMobile) {
            margin-top: 30px;
        }

        p {
            font-family: 'Ubuntu';
            font-size: 20px;
        }
    }

    &__title-h3 {
        color: white;
        margin-bottom: 20px;
        font-size: 40px;
        font-family: 'Ubuntu';

        @media (max-width: $hoverBreak) {
            margin-top: 25px;
        }

        @media (max-width: $hoverBreakMobile) {
            font-size: 30px;
        }
    }

    &__wrapper-input {
        display: flex;
        width: 100%;
        justify-content: space-between;

        @media (max-width: $hoverBreakMobile) {
            flex-wrap: wrap;
        }
    }

    &__button {
        position: relative;
        width: 50%;
        transition: 1s;
        background-color: $btn-color;
        margin-bottom: 30px;
        border: #303133 solid 2px;
        font-size: large;
        color: #9da19d;
        padding: 10px;
        cursor: pointer;

        @media (max-width: $hoverBreakMobile) {
            width: 100%;
            &:active {
                background-color: #ff3d4f;
            }
        }

        @media (min-width: $hoverBreakMobile) {
            &:hover {
                background-color: #ff3d4f;
            }
        }

        &:focus {
            outline: 0;
            border: #ff3d4f 2px solid;
        }

        &::placeholder {
            text-align: center;
            font-size: 18px;
            font-family: 'Ubuntu';
        }
    }

    &__textarea {
        background-color: $btn-color;
        display: block;
        margin-bottom: 30px;
        margin-right: 0px;
        border: #303133 solid 2px;
        width: 100%;
        height: 25vh;
        resize: none;
        padding: 10px;
        color: #9da19d;
        font-size: 20px;

        &::placeholder {
            text-align: center;
            font-size: 18px;
            font-family: 'Ubuntu';
        }

        &:focus {
            outline: 0;
            border: #ff3d4f 2px solid;
        }

        @media (max-width: $hoverBreakMobile) {
            height: 25%;
        }
    }

    &__info {
        position: relative;
        flex-basis: 25%;
        height: 450px;

        color: #9da19d;
        text-align: center;
        margin-top: 60px;
        background-color: $btn-color;

        @media (max-width: $hoverBreak) {
            flex-basis: 80%;
        }

        @media (max-width: $hoverBreakMobile) {
            flex-basis: 100%;
            height: 400px;
        }
    }

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            font-family: 'Ubuntu';
            font-size: 18px;

            @media (max-width: $hoverBreak) {
                font-size: 23px;
            }

            @media (max-width: $hoverBreakMobile) {
                font-size: 18px;
            }
        }

        h4 {
            font-size: 20px;
            padding: 20px 0;
            font-family: 'Ubuntu';
            color: white;

            @media (max-width: $hoverBreak) {
                font-size: 28px;
            }

            @media (max-width: $hoverBreakMobile) {
                font-size: 22px;
            }
        }
    }

    &__footer {
        position: relative;
        width: 100%;
        height: 10vh;
        border-top: #303133 solid 2px;
        background-color: #1d1e20;
        color: #9da19d;
        font-size: large;
        font-family: 'Ubuntu';
    }

    &__text-footer {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__social {
        margin: 15px auto;
        width: 20%;
        display: flex;
        justify-content: space-around;

        @media (max-width: $hoverBreak) {
            width: 50%;
            margin-bottom: 30px;
        }

        @media (max-width: $hoverBreakMobile) {
            width: 100%;
        }
    }
}
