@import '../../../../../variables.scss';

.skill {
    text-align: center;
    color: white;
    border-radius: 4px;
    background-color: $background-color;

    @media (max-width: $hoverBreakMobile) {
    }

    p {
        font-family: 'Ubuntu';
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

        @media (max-width: $hoverBreakMobile) {
            font-size: 15px;
        }
    }

    i {
        color: #ff3d4f;
        padding-left: 10px;
    }
}
