@import '../../../variables.scss';

.input {
    width: 30%;
    background-color: $btn-color;
    margin-bottom: 30px;
    border: #303133 solid 2px;
    font-size: large;
    color: #9da19d;
    padding: 10px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    @media (max-width: $hoverBreakMobile) {
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;
    }

    &--last {
        margin-right: 0;
    }

    &:focus {
        outline: 0;
        border: #ff3d4f 2px solid;
    }

    &::placeholder {
        text-align: center;
        font-size: 18px;
        font-family: 'Ubuntu';
    }
}
