@import '../../../../variables.scss';
.timeline {
    flex-basis: 100%;
    height: 15vh;
    border-radius: 4px;
    padding: 20px;
    background-color: $btn-color;

    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 1400px) {
        flex-basis: 45%;
        height: 50vh;
    }

    @media (max-width: 800px) {
        flex-basis: 100%;
        height: 50vh;
    }

    &__container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 1400px) {
            flex-direction: column;
        }
    }

    &__item {
        background-color: $background-color;
        height: 80%;
        border-radius: 4px;
        flex-basis: 20%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;

        @media (max-width: 1400px) {
            width: 80%;
        }
    }

    &__name {
        color: $text-second;
    }

    &__date {
        color: $text-main;
    }
}
