//colors

$text-main: #fff;
$text-second: #9da19d;
$main-red: #ff3d4f;
$btn-color: #222222;
$border-color: #303133;
$background-color: #191a1c;

// element size

$radius-size: 4px;
$border-size: 2px;

//break point
$hoverBreak: 1200px;
$hoverBreakMobile: 600px;

$medium: 1400px;
$small: 800px;

// font

$main-font: 'Ubuntu';
