//colors

$text-main: #fff;
$text-second: #9da19d;
$main-red: #ff3d4f;
$btn-color: #222222;
$border-color: #303133;

// element size

$radius-size: 4px;
$border-size: 2px;

//break point

$medium: 1400px;
$small: 800px;
