.about-me {
  width: 100vw;
  height: 100vh;

  &__wrapper {
    display: flex;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 40px;

    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }

  &__title {
    display: inline-block;
    position: relative;
    margin-left: 10%;
    padding-top: 80px;
    color: #9da19d;
    font-family: 'Ubuntu';
    font-size: 50px;

    span {
      display: block;
      position: absolute;
      background-color: #ff3d4f;
      width: 80px;
      height: 7px;
      right: -1%;
      border-radius: 10px;
    }
  }

  &__image {
    width: 40%;
    height: 100%;
    background-image: url('../../../public/me.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 1000px) {
      width: 80%;
    }
  }

  &__decription {
    width: 40%;
    height: 100%;
    margin-top: 40px;

    @media (max-width: 1000px) {
      width: 80%;
    }
    a {
      text-decoration: none;
      color: #ff3d4f;

      &:hover {
        border-bottom: #ff3d4f 1px solid;
      }
    }

    h3 {
      color: white;
      font-family: 'Ubuntu';
      font-size: 40px;
    }
  }

  &__text-area {
    color: #9da19d;
    font-family: 'Ubuntu';
    font-size: 18px;
    padding-bottom: 30px;
    margin-top: 30px;
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 40%;
    justify-content: space-around;
    padding-top: 30px;

    &__element {
      display: flex;
      flex-direction: column;
      border: #ff3d4f solid 2px;
      flex-basis: 40%;
      height: 25%;
      border-radius: 25px;
      text-align: center;
      color: white;
      justify-content: space-around;
    }
  }
}
